body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 115%;
}

header {
  background-color: lightgray;
}

nav {
  display: inline-block;
  width: 80%;
}

header img {
  width: 10%;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  align-items: start;
  row-gap: 20px;
}

.grid img {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main {
  background-color: rgba(125, 100, 100, 0.5);
  font-size: 110%;
}

footer {
  background-color: rgb(198, 225, 25);
}

li {
  display: inline-block;
  width: 30%;
}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace; 
  color: green;
}

p {
  line-height: 1.5;
}